html {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 4rem;
  --horizontal-padding: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
