html {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

body {
  color: var(--color-black, #2a2c2b);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 4rem;
  --horizontal-padding: 1rem;
}

:root {
  --color-accent: #a3b1a8;
  --color-warning: #ec4031;
  --color-primary: #122741;
  --color-action: #c58d70;
  --color-grey: #666;
  --color-lightgrey: rgb(211, 206, 206);
  --color-light: #f4f4f4;
  --color-white: #fff;
  --color-black: #2a2c2b;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
